# Esercizio 1
Abbiamo una lista di liste, che tipo di struttura dati o matematica potrebbe rappresentare? 
Tutte le liste "interne" sono della stessa dimensione. Come facciamo per accedere ad un elemento in particolare?

In [5]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]] #rappresenta una matrice, una tabella

print(mat[1]) #stampo la seconda lista

print(mat[2][2]) #stampo il terzo elemento dela terza lista

import numpy as np
arr = np.array(mat)
elemento1 = arr[1,4] #quinto elemento della seconda lista
print("Il quinto elemento della seconda lista è", elemento1)
forma = arr.shape #indica quante righe e clonne ha la matrice
print("Abbiamo una matrice di forma", forma)
media = arr.mean() #calcola la media
print("Il valore medio è", media)

[5, 6, 7, 8, 9]
12
Il quinto elemento della seconda lista è 9
Abbiamo una matrice di forma (3, 5)
Il valore medio è 7.0

# Esercizio 2
Importiamo il modulo math e proviamo a usare le funzioni sin() cos() factorial() e la variabile pi, la riconoscete?

In [10]:
import math
pi_greco = math.pi
sen_pi = math.sin(0.5*pi_greco)
cos_pi = math.cos(2*pi_greco)
fact = math.factorial(4)
print('π =', pi_greco, '\nsen(0.5π) =', sen_pi, '\ncos(2π) =', cos_pi, '\n4! =', fact)

π = 3.141592653589793
sen(0.5π) = 1.0
cos(2π) = 1.0
4! = 24

# Esercizio 3
Proviamo a eseguire math.degrees(math.pi). Qual è e cosa significa il risultato? 
Per saperne di più su questa funzione possiamo usare help(math.degrees)

In [12]:
pi_greco = math.degrees(math.pi) #la funzione degrees trasforma i radianti in gradi
due_pi_greco = math.degrees(2*math.pi)
pi_greco_mezzi = math.degrees(0.5*math.pi)
print('π corrisponde a ',pi_greco,'°','\n2π corrisponde a ',due_pi_greco,'°','\nπ/2 corrisponde a ',pi_greco_mezzi,'°', sep = "")

π corrisponde a 180.0°
2π corrisponde a 360.0°
π/2 corrisponde a 90.0°

# Esercizio 4
L'azienda Object SpA ha creato una lista di quanti oggetti ha venduto ogni mese nell'ultimo anno. 
Trasformiamola in un array NumPy (casting) e rispondiamo alle domande del CEO della Object SpA:
* qual è stata la vendita massima mensile? E quella minima?
* quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
* quali sono le vendite minori di 3000 oggetti?
* in media quanti oggetti sono stati venduti al mese?

In [19]:
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
import numpy as np
lst = np.array(lst)

# qual è stata la vendita massima mensile? E quella minima?
vendita_max = lst.max()
vendita_min = lst.min()
print('La vendita massima in un mese è pari a',vendita_max,'pezzi','\nLa vendita minima in un mese è pari a',vendita_min,'pezzi')

# quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
filtro_maggiore_4999 = lst > 4999
grandi_vendite = lst[filtro_maggiore_4999] #lst[lst>4999]
print("Le vendite in cui si sono venduti più di 4999 oggetti sono:", grandi_vendite)
numero_grandi_vendite = grandi_vendite.shape
print("Nell'ultimo anno si sono venduti più di 4999 oggetti in", numero_grandi_vendite, 'mesi')

# quali sono le vendite minori di 3000 oggetti? 
filtro3k = lst < 3000
piccole_vendite = lst[filtro3k]
print("Le vendite in cui si sono venduti meno di 3000 oggetti sono:", piccole_vendite)

# in media quanti oggetti sono stati venduti al mese?
media = lst.mean()
print("In media nell'ultimo anno si sono venduti", media, 'oggetti al mese')

La vendita massima in un mese è pari a 8150 pezzi
La vendita minima in un mese è pari a 1280 pezzi
Le vendite in cui si sono venduti più di 4999 oggetti sono: [5500 7200 6410 8150 7100 5350]
Nell'ultimo anno si sono venduti più di 4999 oggetti in (6,) mesi
Le vendite in cui si sono venduti meno di 3000 oggetti sono: [2000 1280 1900 2500]
In media nell'ultimo anno si sono venduti 4634.166666666667 oggetti al mese

# Esercizio 5
Consideriamo il seguente dizionario e la seguente Series. Qual è la differenza tra i due tipi di dato? Cosa potremmo fare con la Series che non possiamo fare con il dizionario?

In [24]:
#Dizionario: 
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}
print("Dizionario:", fatturati_dict)
#Series:
import pandas as pd
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))
print("Series: \n", fatturati_series, sep = "")
#Possiamo accedere alle stesse informazioni nello stesso modo:
print("Fatturato 1997 della variabile dizionario:", fatturati_dict[1997])
print("Fatturato 1997 della variabile Series:", fatturati_series[1997])

#Risposta: Possiamo mettere più valori in uno stesso anno in quanto nel dizionario non si può ripetere il campo dell'anno

Dizionario: {1997: 12000, 1998: 15000, 1999: 20000, 2000: 23000, 2001: 25000, 2002: 17000, 2003: 14000, 2004: 21000}
Series:
1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64
Fatturato 1997 della variabile dizionario: 12000
Fatturato 1997 della variabile Series: 12000

# Esercizio 6
L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti memorizzato in un ndarray. L'azienda ci chiede di raddoppiare tutti gli stipendi, facciamolo con un ciclo for e con il masking.

In [25]:
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 

#con un ciclo for 
stipendi_raddoppiati = []
for stipendio in stipendi:
    stipendi_raddoppiati.append(stipendio*2)
print('Qui di seguito la lista degli stipendi raddoppiati ottenuta col ciclo for:',stipendi_raddoppiati)

#con il masking
stipendi_raddoppiati = stipendi*2
print('Qui di seguito la lista degli stipendi raddoppiati ottenuta col masking:',stipendi_raddoppiati)

Qui di seguito la lista degli stipendi raddoppiati ottenuta col ciclo for: [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]
Qui di seguito la lista degli stipendi raddoppiati ottenuta col masking: [ 200  400  600  800 1000 1200 1400 1600 1800 2000]